.About {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 70%;
    scroll-snap-align: center;
}

.meContainer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-image:
        /* linear-gradient(to bottom, #141416e7, #141416e7), */
        linear-gradient(to bottom, var(--primary-transparent), var(--primary-transparent)),
        url('../images/me.png');
    background-repeat: no-repeat;
    animation: imageAnimation;
    animation-duration: 2s;
}

@keyframes imageAnimation {
    from {

        background-position-y: 50px;
    }

    to {

        background-position-y: 0px;
    }
}

.mePresentation {
    width: 50%;
    margin-right: 50px;
}

.meDescription {
    width: 50%;
}

.meDescription h3 {
    font-size: 1.rem;
    opacity: 0.7;
}

.meDescription .downloadResume {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    margin: 20px 0px;
}

.meDescription .downloadResume a {
    background: var(--secondary-color);
    padding: 10px 30px;
    display: block;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    color: var(--secondary-color);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.meDescription .downloadResume a:hover {

    color: var(--terciary-color);
    border: 2px solid var(--terciary-color);
}

.presentationTitle {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.presentationText {

    opacity: .7;
}

@media screen and (max-width: 1024px) {
    .About {
        width: 80%;
    }
    .meContainer {
        flex-direction: column;
        background-size: cover;

    }

    .mePresentation {
        width: 100%;
        margin-right: 0px;
    }

    .meDescription {
        width: 100%;
    }
    
}