.Contact {
    display: flex;
    align-items: center;
    min-height: 100%;
    width: 70%;
    scroll-snap-align: center;
}

.contactContent {
    display: flex;
    width: 100%;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 20px;
    /*background-image:
        linear-gradient(to right, var(--primary-transparent), var(--primary-transparent)),
        url('../images/location.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
}

.contactTitle h1 {
    font-size: 2rem;
    margin-top: 1rem;
}

.contactTitle p {
    font-weight: 500;
    font-size: 1rem;
    opacity: 0.7;
}

.contactData {
    font-weight: 500;
}


.contactDataItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px;
    margin: 1rem 0.5rem;
    max-width: fit-content;
    border-radius: 6px;
    user-select: none;
    border: 2px solid transparent;
}

.contactDataItem:hover {
    border: 2px solid var(--secondary-color);
}

.contactDataItem svg {
    margin-right: 1rem;
    width: 1rem;
}

.contactDataItem p{
    margin:0;
}

.contactSocial {
    display: flex;
}

.contactSocialItem {
    display:flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    margin: 1rem;
    box-sizing: border-box;
    border-radius: 6px;
    user-select: none;
    border: 2px solid transparent;
}

.contactSocialItem svg {
    color:var(--secondary-color);
    height: 1.5rem;
}

.contactSocialItem:hover {
    border: 2px solid var(--secondary-color);
}

.contactForm {
    display: flex;
    width: 35%;
    flex-direction: column;
}

.contactForm p {
    font-weight: 500;
}

.contactForm input {
    width: 100%;
    padding: 1rem 1rem;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0px;
    outline: none;
}

.contactForm textarea {
    overflow: none;
    width: 100%;
    resize: none;
    outline: none;
    padding: 10px 15px;
    height: 8rem;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0px;
}

.contactFormSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactFormSubmit a {
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    color: var(--secondary-color);
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: 20px 0;
    width: 50%;
    margin-left: auto;
}

.contactFormSubmit a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.contactFormSubmit a:hover  .lds-ring div {
    border: 0.2rem solid var(--primary-color);
    border-color: var(--primary-color) transparent transparent transparent;
  }

@media screen and (max-width: 1024px) {
    .Contact {
        width: 80%;
    }

    .contactContent {
        align-items: center;
        flex-direction: column-reverse;
    }

    .contactInfo {
        width: 100%;
        margin: 30px 0;
    }

    .contactForm {
        width: 100%;
    }

    .contactData {
        padding: 0.5rem 0;
    }

}