.Home{
    display: flex;
    align-items: center;
    min-height: 100%;
    width: 70%;
    scroll-snap-align: center;
}


.homeContainer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding:20px;
    
}

.welcomeContainer{
    max-width: 700px;
}

.welcomeContainer .welcomeTitle{
    font-size: 36px;
    line-height: 2rem;
    margin:0;
    padding:0;
}

.welcomeContainer .welcomeText{
    font-size: 18px;
    margin:0;
    padding: 1.5rem 0;
}

.welcomeContainer .welcomeButton{
    display:flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--terciary-color);
    background-color: transparent;
    border:none;
    cursor: pointer;
}

.welcomeContainer .welcomeButton a{
    margin-right: 5px;
    color: var(--terciary-color);
    text-decoration: none;
}
.welcomeContainer .welcomeButton:hover svg{
    transform: rotate(90deg);
    transition: all .3s ease-in-out;
}


.welcomeContainer .welcomeButton svg{
    transition: all .3s ease-in-out;
    width: 18px;
}

.homeContainer .welcomeImage{
    display:flex;
    align-items: center;
    justify-content: center;
}