.Navbar {
    position: fixed;
    z-index: 10000;
    width: fit-content;
    right: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -25%);
}

.Navbar ul {
    list-style: none;
}

.Navbar ul li {
    text-align: right;
    box-sizing: border-box;
    margin: 3px 0;
    cursor: pointer;
    padding: 14px;
    font-size: .66rem;
    border-right: 3px solid #5c5c5c;
}


.Navbar li a {
    text-decoration: none;
    margin: 14px;
    color: var(--secondary-color);
}

.Navbar ul li.active {
    border-right: 3px solid var(--secondary-color);
    transition: all .3s ease-in-out;
}

.Navbar ul li.hover {
    border-right: 3px solid var(--secondary-color);
    transition: all .3s ease-in-out;
}

.Navbar .scrollDown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #5c5c5c;
}

.Navbar .scroll {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #5c5c5c;
}

.Navbar .scroll:hover {
    color: var(--secondary-color);
    transition: all .2s ease-in-out;
    cursor: pointer;
    user-select: none;

}

.Navbar .scroll p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.55rem;
    line-height: .66rem;
}

.Navbar .scroll span {
    margin: 0;
    text-align: right;
    padding: 0;
}

.Navbar .scroll svg {
    margin-top: 10px;
    width: 0.75rem;
    transition: all .3s ease-in-out;
}

.Navbar .scroll.Down:hover svg {
    transform: translateY(5px);
}

.Navbar .scroll.Up:hover svg {
    transform: translateY(-5px);
}

@media screen and (max-width: 1024px) {
    .Navbar {
        transform: translate(-1%, -40%);
    }

    .Navbar li a {
        display: none;
    }
}