.Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 70%;
    scroll-snap-align: center;
}

.sliderItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    height: 600px;
}




.sliderItemContainer {
    min-width: 30%;
    text-align: left;
}

.sliderItemContainer h3 {
    opacity: .7;
}




.sliderImageContainer {

    margin-right: 50px;
    
}

.itemButton {
    display: flex;
    align-items: center;
    color: var(--terciary-color);
    width: 100%;
    padding: 10px 0;
}

.itemButton a {
    font-size: 1rem;
    font-weight: bold;
    color: var(--terciary-color);
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
}

.itemButton svg {
    transition: all .3s ease-in-out;
    width: .6rem;
    margin-right: 20px;
}

.itemButton:hover svg {
    transform: translateX(5px);
    transition: all .3s ease-in-out;
}



.itemButton img {
    width: 2.5rem !important;
}

@media screen and (max-width:1024px) {
    .Projects {
        width: 80%;
    }

    .sliderItem {
        height: auto;
        flex-direction: column;
    }
    .sliderImageContainer {

        margin-right: 0px;
        
    }
    
}