.Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 70%;
    scroll-snap-align: center;
}

.sliderItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 600px;
}


.carousel-root {
    width: 100%;
}
.tecnologysContainer{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.tecnologysItem{
    font-size: 1rem;
    margin:0;
    border: 1px solid var(--secondary-color);
    padding:3px 7px;
    border-radius: 3px;
    font-weight: 500;
}


.sliderItemContainer {
    text-align: left;
    width: 100%;
}


.sliderItemContainer h3 {
    opacity: .7;
}




.sliderImageContainer {
    margin-right: 50px;
    
}



.itemButton {
    display: flex;
    align-items: center;
    color: var(--terciary-color);
    width: 100%;
    padding: 10px 0;
}

.itemButton a {
    font-size: 1rem;
    font-weight: bold;
    color: var(--terciary-color);
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
}

.itemButton svg {
    transition: all .3s ease-in-out;
    width: .6rem;
    margin-right: 20px;
}

.itemButton:hover svg {
    transform: translateX(5px);
    transition: all .3s ease-in-out;
}



.itemButton img {
    width: 2.5rem !important;
}

@media screen and (max-width:1600px) {

    .carousel .slider-wrapper {
    }
    
    
}


@media screen and (max-width:1440px) {

    .carousel .slider-wrapper {
    }
    
}

@media screen and (max-width:1280px) {

    .carousel .slider-wrapper {
    }
    
}

@media screen and (max-width:1024px) {
    .Projects {
        width: 80%;
    }

    .sliderItem {
        height: auto;
        flex-direction: column;
        margin:5px;
    }
    .sliderImageContainer {
        margin-right: 0px;
        
    }
    
}