.Skills{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 70%;
    scroll-snap-align: center;
}

.skillsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 20px;
}

.skillsSubTitle{
    opacity: 0.7;
    font-weight: normal;
}

.skillsTitle{
    margin:0;
    padding:0;
    font-size: 2rem;
}

.skillsDescription{
    max-width: 800px;
    margin:0;
    padding:40px 0;
}



.skillsList{
    list-style: none;
    margin:0;
    padding: 0;
    display:flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Skills.active .skillsContainer .skillsListItem{
    animation: example;
}


.Skills.active .skillsContainer .skillsListItem:nth-child(1) { animation-duration: 0.3s }
.Skills.active .skillsContainer .skillsListItem:nth-child(2) { animation-duration: 0.5s }
.Skills.active .skillsContainer .skillsListItem:nth-child(3) { animation-duration: 0.7s }
.Skills.active .skillsContainer .skillsListItem:nth-child(4) { animation-duration: 0.9s }
.Skills.active .skillsContainer .skillsListItem:nth-child(5) { animation-duration: 1s }
.Skills.active .skillsContainer .skillsListItem:nth-child(6) { animation-duration: 1.1s }
.Skills.active .skillsContainer .skillsListItem:nth-child(7) { animation-duration: 1.2s }
.Skills.active .skillsContainer .skillsListItem:nth-child(8) { animation-duration: 1.3s }
.Skills.active .skillsContainer .skillsListItem:nth-child(9) { animation-duration: 1.4s }
.Skills.active .skillsContainer .skillsListItem:nth-child(10) { animation-duration: 1.5s }
.Skills.active .skillsContainer .skillsListItem:nth-child(11) { animation-duration: 1.6s }

@keyframes example {
    from {
        /* pushes the sun down past the viewport */
        transform: translateY(50px);
      }
      to {
        /* returns the sun to its default position */
        transform: translateY(0);
      }
}

.skillsListItem svg {
    width: 2.77rem;
    height: 2.2rem;
}

.skillsListItem p{
    font-weight: 500;
}

@media screen and (max-width: 1024px) {
    .Skills{
        width: 80%;
    }
}