.Skills{

    display: flex;
    align-items: center;
    min-height: 100%;
    width: 70%;
    scroll-snap-align: center;
}

.skillsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 20px;
}

.skillsSubTitle{
    opacity: 0.7;
    font-weight: normal;
}

.skillsTitle{
    margin:0;
    padding:0;
    font-size: 32px;
}

.skillsDescription{
    max-width: 600px;
    margin:0;
    padding:40px 0;
}

.skillsList{
    list-style: none;
    display:flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skillsListItem{
    animation: example;
    animation-duration: 3s;
    width: 100px;
}


.skillsList .skillsListItem:nth-child(1) { animation-duration: 0.3s }
.skillsList .skillsListItem:nth-child(2) { animation-duration: 0.5s }
.skillsList .skillsListItem:nth-child(3) { animation-duration: 0.7s }
.skillsList .skillsListItem:nth-child(4) { animation-duration: 0.9s }
.skillsList .skillsListItem:nth-child(5) { animation-duration: 1s }
.skillsList .skillsListItem:nth-child(6) { animation-duration: 1.1s }
.skillsList .skillsListItem:nth-child(7) { animation-duration: 1.2s }
.skillsList .skillsListItem:nth-child(8) { animation-duration: 1.3s }
.skillsList .skillsListItem:nth-child(9) { animation-duration: 1.4s }
.skillsList .skillsListItem:nth-child(10) { animation-duration: 1.5s }
.skillsList .skillsListItem:nth-child(11) { animation-duration: 1.6s }

@keyframes example {
    from {
        /* pushes the sun down past the viewport */
        transform: translateY(50px);
      }
      to {
        /* returns the sun to its default position */
        transform: translateY(0);
      }
}

.skillsListItem svg {
    width: 50px;
    height: 40px;
}

.skillsListItem p{
    font-weight: 500;
}