span {
    display:inline-block;
    white-space: pre-wrap;
}

span:hover {
    animation: jump 0.5s linear alternate;
    transform-origin: 50% 50%;
    cursor: default;
    color: var(--terciary-color);
    text-decoration-color: var(--primary-color);
}

@keyframes jump {
    0% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }

    25% {
        transform: translate3d(0, -10%, 0) scale3d(.9, 1.2, 1);
    }

    50% {
        transform: translate3d(0, -30%, 0) scale3d(1.2, .7, 1);
    }

    75% {
        transform: translate3d(0, -10%, 0) scale3d(.9, 1.2, 1);
    }

    100% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
