:root {

  --primary-color: #141416;
  --secondary-color: #f0f8ff;
  --terciary-color: #44AF91;
  --primary-transparent: #141416f6;
  --secondary-transparent: #f0f8ff94;
  --error-color: #bd6348;

  --vuejs-color: #3EAF7Bc5;
  --javascript-color: #E8D44Dc5;
  --react-color: #00D1F7c5;
  --css3-color: #254BDDc5;
  --html5-color: #dd4a25c5;
  --git-color: #E84E31c5;
  --nestjs-color: #D9224Cc5;
  --python-color: #356C9Bc5;
  --mysql-color: #507E9Cc5;

  --basic-color: #DD4B25;
  --frontend-color: #254BDD;
  --backend-color: #D9224Cc5;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}